body {
    background-color: midnightblue;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: bottom 100px; 
}

header {
    border-bottom: solid 2px slategray 2px;
padding: 20px;
font-size: 30px;
color: azure;

}

section {
    background-color: rgb(143, 153, 241);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}